<header class = "page_title">
    <div><a class="vp_history_back_button" style="display:none;">Back</a></div>
	<h1 class="vp_title">Projects</h1>
</header>

<!--
<div class = "vp_team_selector">
	Current Team
	<select>
	</select>
</div>
-->
<div class = "videos_navbar" style="display:none;">
    <div class = "upload button" href = "#" title = "Click to create a new video" >Create new video</div>
    <div class = "vp_search">
        <input type="text" placeholder="Search videos"/><div class = "vp_btn_gray button" href = "#" ><span class = 'vp_ico vp_ico_search'> </span></div>
    </div>
    <div class = "viewmode viewmode_thumbnail"></div>
</div>
<div class = "projects_container">
<div class = "projects_navbar">
    <div class="vp_button vp_red" id="manage_projects" style="margin-right:21px;">
        <span class="vp_icon vp_icon_videopath vp_false"></span>
        <span>Manage projects</span>
    </div>
    <div class = "vp_project_search">
        <input type="text" placeholder="Search projects"/><div class = "vp_btn_gray button" href = "#" ><span class = 'vp_ico vp_ico_search'> </span></div>
    </div>
</div>
<div class = "projects clearfix">
</div>
</div>

<div class="listview_header" style="display:none;">
    <div class="listheader_check"></div>
    <div class="listheader_block">
        <div class="listheader_thumbnail"></div>
        <div class="listheader_projectname">
            <div style="float:left;">Project Name</div>
            <div class="listheader_sorticon"></div>
        </div>
        <div class="listheader_title">
            <div style="float:left;">Title</div>
            <div class="listheader_sorticon"></div>
        </div>
        <div class="listheader_creation">
            <div style="float:left;">Creation Date</div>
            <div class="listheader_sorticon"></div>
        </div>
        <div class="listheader_privacy">Privacy</div>
        <div class="listheader_status">Status</div>
        <div class="listheader_move">
            <div class="listheader_moveicon"></div>
            <div>Move</div>
        </div>
        <div class="listheader_delete">
            <div class="listheader_deleteicon"></div>
            <div>Delete</div>
        </div>  
    </div>
</div>

<div class = "videos clearfix">
</div>
<br /> 
<div class = "teampaginator">
</div>
<div class = "paginator">
</div>
<br />
<br />
