<div class="vp_team_item" style="width:270px;height:250px;">
    <div class="vp_dir_tab"></div>
    <div class="video_inner">
        <div class="cover_container" title="Edit Project"> 
        </div> 
        <div class="title_top" style="width:260px;height:140px;"> 
            <div class="title">
            </div> 
        </div>
        <div class="info_container"> 
            <h1><span class = "title"></span></h1>
            <span class="description"></span>
        </div> 
        <span class="date"></span>
        <div class="button menu">
            <span class="vp_ico vp_ico_video_info"> </span>
        </div>
    </div>
</div>