<div class="project_context_menu">
	<div class = "button modifysetting" data-action = "modify"><div class = 'vp_ico vp_img_editproject'> </div> Modify Project <div class="vp_ico vp_img_updownarrow" style="left:unset;right:5px"></div></div><br />
	<div class = "button" data-action = "duplicate"><span class = 'vp_ico vp_ico_copy'> </span> Duplicate</div><br />
	<div class = "button btn_addvideo" data-action = "addvideo"><span class = 'vp_ico vp_img_addvideo'> </span> Add a video</div><br />
	<div class = "button" data-action = "revisions"><span class = 'vp_ico vp_ico_time'> </span> History</div><br />

	<div class = "button red" data-action = "delete"><span class = 'vp_ico vp_ico_delete'> </span> Delete Project</div>

	<div class = "modify_submenu">
		<div class = "button" data-action = "project_settings"> Project settings</div><br />
		<div class = "button" data-action = "member_settings"> Team Settings</div><br />
		<div class = "button" data-action = "edit_theme"> Edit Theme</div><br />
		<div class = "button" data-action = "apps"> Apps</div><br />
	</div>
</div>
