<div class="video_context_menu">
	<div class = "button" data-action = "duplicate"><span class = 'vp_ico vp_ico_copy'> </span> Duplicate</div><br />
	<div class = "button" data-action = "change_source"><span class = 'vp_ico vp_ico_source'> </span> Change Source</div><br />
	<div class = "button" data-action = "revisions"><span class = 'vp_ico vp_ico_time'> </span> History</div><br />

	<!--<div class = "button" data-action = "change_owner"><span class = 'vp_ico vp_ico_permissions'> </span> Permissions</div><br />-->
	<div class = "button red" data-action = "delete"><span class = 'vp_ico vp_ico_delete'> </span> Delete Video</div>
</div>
