<div class="video_inner">
    <div class="video_thumbnail">
        <div class="img_container" title="Edit Video">
            <div class="unpublished"></div>
            <div class="full working">
                <div class="coq_small">
                </div>
                <div class="coq_big">
                </div>
                <div class="working_title">
                </div>
            </div>
        </div>
        <div class="title_top">
            <div class="title">
            </div>
        </div>
        <div class="info_container">
            <h1> <span class = "title"></span></h1>
        </div>
        <span class="date"></span>
        <div class="mobile_enabled vp_ico vp_ico_iphone"></div>
        <div class="stats_container">
            <div class="item views">
                <div class="icon">
                </div>
                <div class="value">
                </div>
            </div>
            <div class="item markers">
                <div class="icon">
                </div>
                <div class="value">
                </div>
            </div>
            <div class="item duration">
                <div class="icon">
                </div>
                <div class="value">
                </div>
            </div>
        </div>
        <div class="button menu">
            <span class='vp_ico vp_ico_video_info'> </span>
        </div>
        <div class="button_container">
            <div class="view button">
                <div class="icon">
                </div>
                <div class="title">
                    View
                </div>
            </div>
            <div class="edit button">
                <div class="icon">
                </div>
                <div class="title">
                    Edit
                </div>
            </div>
            <div class="share button">
                <div class="icon">
                </div>
                <div class="title">
                    Share
                </div>
            </div>
            <div class="analytics button">
                <div class="icon">
                </div>
                <div class="title">
                    Analytics
                </div>
            </div>
        </div>
    </div>
    <div class="video_list" style="display:none">
        <div class="videolist_check">
            <div class="videolist_boxwrapper">
                <input type="checkbox" class="list_checkbox">
            </div>
        </div>
        <div class="videolist_block">
            <div class="videolist_thumbnail">
                <div class="videolist_imghover"></div>
                <div class="videolist_img"></div>
            </div>
            <div class="videolist_projectname">
                <div class="listvalue"></div>
            </div>
            <div class="videolist_title">
                <div class="listvalue"></div>
            </div>
            <div class="videolist_creation">
                <div class="listvalue"></div>
            </div>
            <div class="videolist_privacy">
                <div class="listvalue"></div>
            </div>
            <div class="videolist_status">
                <div class="listvalue"></div>
            </div>
        </div>
    </div>
</div>
