@import '../foundation';

$DIAMOND_SIZE: 8px;

.vpp_playbar_vertical {
	width:40px;
	
	position:relative;
	border:2px solid;

	font-size:12px;
	text-align:center;

	cursor:pointer;
	overflow:hidden;

	/*
	 * Bars
	 */
	.vp_buffer_bar, .vp_progress_bar {
		@include absoluteFullsize();
		width:100%;
	}

	/* 
	 * Time Labels
	 */
	.vp_time_top, .vp_time_bottom, .vp_time_progress {
		@include transition(opacity 0.1s ease-in-out);
		position: absolute;
		width:100%;
		pointer-events:none;
	}

	.vp_time_progress {
		padding:3px 0px;
	}

	.vp_time_top {
		top:0px;
	}

	.vp_time_bottom {
		bottom:0px;
	}

	/*
	 * Scrubber & Indicators
	 */
	.vp_scrubber {
		@include transition(opacity 0.1s ease-in-out, height 0.1s ease-in-out, margin 0.1s ease-in-out);
		position:absolute;
		width:100%;
		height:2px;
		margin-top:-1px;
	}

	.vp_marker_indicator {
		position:absolute;
		left:0px;
		right:0px;
		height:2px;
		margin-top:-1px;
		svg {
			transition: transform 0.3s cubic-bezier(0.140, 0.175, 0.420, 1.650);
			left:50%;
			margin-left:-$DIAMOND_SIZE/2;
			top:-($DIAMOND_SIZE/2-1);
			position:absolute;
			width:$DIAMOND_SIZE;
			height:$DIAMOND_SIZE;
		}

		&.vp_highlighted {
			svg {
				@include transform (rotate(90deg) scale(1.3));
			}
		}
	}

	/*
	 * Other
	 */
	.vp_mouse_capture {
		@include absoluteFullsize();
	}

}