<div>

    <header class="sg_main_header">

        <h1 class="sg_main_logo vp_col_sm_7">
            <a href="#" title="Back to My Videos" class="home">
                <img class="logo_icon" src="style/img/logo_symbol.png" />
                Videopath Style Guide
            </a>
        </h1>

        <nav class="sg_main_navigation vp_col_sm_5">

            <a class="sg_home_button vp_ico_home"></a>

            <div class="vp_dropdown_menu">
                <a href="#" class="vp_menu_toggle"></a>
                <ul class="vp_menu">
                    <li class="vp_menu_item vp_menu_item_info">
                        <span>Logged in as Fooooo</span>
                    </li>
                    <li class="vp_menu_item">
                        <a href="#chapter_typography">Typography</a>
                    </li>
                    <li class="vp_menu_item">
                        <a href="#chapter_icons">Icons</a>
                    </li>
                    <li class="vp_menu_item">
                        <a href="#chapter_buttons">Buttons</a>
                    </li>
                    <li class="vp_menu_item">
                        <a href="#chapter_interactions">Interactions</a>
                    </li>
                    <li class="vp_menu_item">
                        <a href="#chapter_forms">Forms</a>
                    </li>
                </ul>
            </div>

        </nav>
    </header>

    <article class="sg_chapter" id="chapter_typography">
        <header>
            <h2>Typography</h2>
        </header>
        <div class="sg_chapter_content"></div>
    </article>

    <article class="sg_chapter" id="chapter_icons">
        <header>
            <a class="vp_history_back_button">Back to Top</a>
            <h2>Icons</h2>
        </header>
        <div class="sg_chapter_content"></div>
    </article>

    <article class="sg_chapter" id="chapter_buttons">
        <header>
            <a class="vp_history_back_button">Back to Top</a>
            <h2>Buttons</h2>
        </header>
        <div class="sg_chapter_content"></div>
    </article>

    <article class="sg_chapter" id="chapter_interactions">
        <header>
            <a class="vp_history_back_button">Back to Top</a>
            <h2>Interactions</h2>
        </header>
        <div class="sg_chapter_content"></div>
    </article>

    <article class="sg_chapter" id="chapter_forms">
        <header>
            <a class="vp_history_back_button">Back to Top</a>
            <h2>Forms</h2>
        </header>
        <div class="sg_chapter_content"></div>
    </article>

    <article class="sg_chapter" id="chapter_modals">
        <header>
            <a class="vp_history_back_button">Back to Top</a>
            <h2>Modals</h2>
        </header>
        <div class="sg_chapter_content"></div>
    </article>

    <div id="sg_modal_container"></div>

</div>
