.box {
	background-color: red;
	width: 50px;
	height: 50px;
	position: absolute;
	opacity: 0.5;
}


.tl {
	top:0px;
	left:0px;
}

.tr {
	top:0px;
	right:0px;
}

.bl {
	bottom:0px;
	left:0px;
}

.br {
	bottom:0px;
	right:0px;
}

.scroll_box {
	width: 200px;
	height: 200px;
	overflow: auto;
		-webkit-overflow-scrolling: touch;

}

.scroll_box_inner {
	width: 200px;
	height: 600px;
}

.iframe_container {
	width: 400px;
	height: 400px;
	-webkit-overflow-scrolling: touch;
	overflow: scroll;
}

iframe {
	/* -webkit-overflow-scrolling: touch; */
	overflow: scroll;
	width: 100%;
	height: 100%;
}

.ov_test {
    height: 200px;
    width: 200px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: red;
    z-index: 500;
    position: absolute;
}