.vp_content_block_email_collector {

	.vp_form_group {
		position: relative;
	}
	
	.vp_message {
		opacity: 0.95;
		position: absolute;
		left:0px;
		right:0px;
		top:0px;
		bottom:0px;
		background-color:white;
		text-align: center;
	}
}