.vp_marker_overlay_social {
	@extend .vp_fast_animations;
	iframe, .vp_frame_wrapper {
		@include absolute_positioning(0px,0px,0px,0px);
		height:100%;
		width:100%;
		position: absolute !important;
	}
	.vp_spinning_coq_big {
        position: absolute;
        left:50%;
        top:50%;
        margin-left:-20px;
        margin-top:-20px;
    }
}
