<div>
	<div class = "vp_small_buttons_right">
		<a href="#" class = "vp_fullscreen_button vp_small_button"></a>&#32;
		<a href="#" class = "vp_mute_button vp_small_button"></a>&#32;
        <div class = "vp_share_buttons vp_small_button">
            <a href="#" class="vp_share_button"></a>
            <div class="vp_share_links"></div>
        </div>&#32;
	</div>
	<a href="#" class = "vp_playbutton vp_small_button"></a>
	<a href="#" class = "vp_favicon vp_small_button"></a>
	<a href="#" class="vp_add_marker_button"></a>
</div>
