<div>
    <div class="vp_btn_group">
        <div class="vp_btn vp_btn_label vp_btn_green">Done</div>
        <div class="vp_btn vp_btn_label vp_btn_orange">Change</div>
        <div class="vp_btn vp_btn_label vp_btn_red">Delete</div>
        <div class="vp_btn vp_btn_label vp_btn_gray">Neutral</div>
        <div class="vp_btn vp_btn_label vp_btn_lightblue">Preview</div>
    </div>

    <div class="vp_btn_group">
        <div class="vp_btn vp_btn_label_lg vp_btn_green">Done</div>
        <div class="vp_btn vp_btn_label_lg vp_btn_shadow vp_btn_orange">Change</div>
    </div>
</div>
