<ul>
    <li class="sg_icon">
        <span class="vp_ico_diamond sg_icon_label"> ico_diamond</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_arrow_left sg_icon_label"> ico_arrow_left</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_arrow_right sg_icon_label"> ico_arrow_right</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_x sg_icon_label"> ico_x</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_menu sg_icon_label"> ico_menu</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_dropdown sg_icon_label"> ico_dropdown</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_endscreen sg_icon_label"> ico_endscreen</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_info_light sg_icon_label"> ico_info_light</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_info sg_icon_label"> ico_info</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_views sg_icon_label"> ico_views</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_home sg_icon_label"> ico_home</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_social_email sg_icon_label"> ico_social_email</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_replay sg_icon_label"> ico_replay</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_bucket sg_icon_label"> ico_bucket</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_analytics sg_icon_label"> ico_analytics</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_checkmark sg_icon_label"> ico_checkmark</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_color_theme sg_icon_label"> ico_color_theme</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_edit sg_icon_label"> ico_edit</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_embed_inline sg_icon_label"> ico_embed_inline</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_embed_lightbox sg_icon_label"> ico_embed_lightbox</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_social_embed sg_icon_label"> ico_social_embed</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_exit_fullscreen sg_icon_label"> ico_exit_fullscreen</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_social_facebook sg_icon_label"> ico_social_facebook</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_flag sg_icon_label"> ico_flag</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_fullscreen sg_icon_label"> ico_fullscreen</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_social_gplus sg_icon_label"> ico_social_gplus</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_social_link sg_icon_label"> ico_social_link</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_lock sg_icon_label"> ico_lock</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_marker_shape sg_icon_label"> ico_marker_shape</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_marker sg_icon_label"> ico_marker</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_msg sg_icon_label"> ico_msg</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_sound_mute sg_icon_label"> ico_sound_mute</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_pause sg_icon_label"> ico_pause</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_play sg_icon_label"> ico_play</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_player_share sg_icon_label"> ico_player_share</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_preview sg_icon_label"> ico_preview</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_share_dashboard sg_icon_label"> ico_share_dashboard</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_share_video sg_icon_label"> ico_share_video</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_thumbnail sg_icon_label"> ico_thumbnail</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_time sg_icon_label"> ico_time</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_trash sg_icon_label"> ico_trash</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_social_twitter sg_icon_label"> ico_social_twitter</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_unlock sg_icon_label"> ico_unlock</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_video_info sg_icon_label"> ico_video_info</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_videopath sg_icon_label"> ico_videopath</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_sound_volume sg_icon_label"> ico_sound_volume</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_social_youtube sg_icon_label"> ico_social_youtube</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_circle_plus sg_icon_label"> ico_circle_plus</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_circle_cross sg_icon_label"> ico_circle_cross</span>
    </li>
    <li class="sg_icon">
        <span class="vp_ico_expand sg_icon_label"> ico_expand</span>
    </li>
</ul>
