<div>
    <article>
        <header><h3>Loading Indicator</h3></header>
        <div class="vp_row">
            <div class="vp_col_sm_6">
                <div class="sg_indicator_bg sg_loading_indicator_dark"></div>
            </div>
            <div class="vp_col_sm_6">
                <div class="sg_indicator_bg sg_loading_indicator_light"></div>
            </div>
        </div>
        <p>Light and dark loading indicator, animation started and stopped intentionally each 3s
            in the styleguide to test stopped property.</p>
    </article>

    <article>
        <header>
            <h3>Share buttons</h3>
        </header>
        <div class="vp_row">
            <div class="vp_col_sm_6">
                <h5>Default social buttons</h5>
                <div class="sg_share_bg sg_share_buttons_default"></div>
            </div>
            <div class="vp_col_sm_6">
                <h5>Costom social buttons</h5>
                <div class="sg_share_bg sg_share_buttons_custom"></div>
            </div>
        </div>
        <h5>Minimal social buttons</h5>
        <div class="vp_row">
            <div class="vp_col_sm_6">
                <div class="sg_share_bg sg_share_buttons_minimal_light vp_minimal_buttons"></div>
            </div>
            <div class="vp_col_sm_6">
                <div class="sg_share_bg sg_share_buttons_minimal_dark vp_light_bg vp_minimal_buttons"></div>
            </div>
        </div>
    </article>

    <article>
        <header>
            <h3>Call To Action Buttons</h3>
        </header>
        <div class="vp_row">
            <div class="vp_col_sm_6">
                <h5>Marker Overlay CTA</h5>
                <div class="sg_cta_button"></div>
            </div>
            <div class="vp_col_sm_6">
                <h5>Endscreen CTA (large)</h5>
                <div class="sg_cta_button_large"></div>
            </div>
        </div>
    </article>

    <article>
        <header>
            <h3>Progress bar</h3>
        </header>
        <div class="vp_row">
            <div class="vp_col_sm_6">
                <div class="vp_progress"></div>
            </div>
            <div class="vp_col_sm_6">
                proceeded
                <span class="vp_progress_label_current"></span>
                of
                <span class="vp_progress_label_total"></span>
            </div>
        </div>
    </article>
</div>
