<div>
    <div class="vp_row">
        <div class="vp_col_sm_6">
            <h3>Custom modals</h3>
            <section >
                <h5>A standard modal without configuration</h5>
                <a href="" class="sg_modal_button_standard vp_btn vp_btn_label vp_btn_gray">Open</a>
            </section>

            <section >
                <h5>A modal with buttons, title, custom size and disabled default closing</h5>
                <a href="" class="sg_modal_button_custom vp_btn vp_btn_label vp_btn_gray">Open</a>
            </section>

            <section >
                <h5>This modal has custom border color</h5>
                <a href="" class="sg_modal_button_green vp_btn vp_btn_label vp_btn_green">Open</a>
            </section>

            <section >
                <h5>This modal has red border</h5>
                <a href="" class="sg_modal_button_red vp_btn vp_btn_label vp_btn_red">Open</a>
            </section>

            <section >
                <h5>This modal has fullsize content with no margin or padding</h5>
                <a href="" class="sg_modal_button_fullsize vp_btn vp_btn_label vp_btn_lightblue">Open</a>
            </section>

            <br>

            <h3>Plan upgrade popups</h3>
            <section >
                <h5>Endscreen</h5>
                <a href="" class="sg_modal_button_upgrade_endscreen vp_btn vp_btn_label vp_btn_green">Upgrade</a>
            </section>
        </div>
        <div class="vp_col_sm_6">
            <h3>Plan change modals</h3>
            <section >
                <h5>Free plan downgrade</h5>
                <a href="" class="sg_modal_button_plan_free_downgrade vp_btn vp_btn_label vp_btn_grey">Free</a>
            </section>
            <section >
                <h5>Basic plan upgrade</h5>
                <a href="" class="sg_modal_button_plan_basic_upgrade vp_btn vp_btn_label vp_btn_green">Basic</a>
            </section>
            <section >
                <h5>Basic plan downgrade</h5>
                <a href="" class="sg_modal_button_plan_basic_downgrade vp_btn vp_btn_label vp_btn_gray">Basic</a>
            </section>
            <section >
                <h5>Pro plan upgrade</h5>
                <a href="" class="sg_modal_button_plan_pro_upgrade vp_btn vp_btn_label vp_btn_green">Pro</a>
            </section>
            <section >
                <h5>Pro plan downgrade</h5>
                <a href="" class="sg_modal_button_plan_pro_downgrade vp_btn vp_btn_label vp_btn_gray">Pro</a>
            </section>
            <section >
                <h5>Pro + plan upgrade</h5>
                <a href="" class="sg_modal_button_plan_pro_plus_upgrade vp_btn vp_btn_label vp_btn_green">Pro Plus</a>
            </section>
            <section >
                <h5>Pro + plan downgrade</h5>
                <a href="" class="sg_modal_button_plan_pro_plus_downgrade vp_btn vp_btn_label vp_btn_gray">Pro Plus</a>
            </section>
            <section >
                <h5>Premium plan upgrade</h5>
                <a href="" class="sg_modal_button_plan_premium_upgrade vp_btn vp_btn_label vp_btn_green">Premium</a>
            </section>
            <section >
                <h5>Cancel plan</h5>
                <a href="" class="sg_modal_button_plan_cancel vp_btn vp_btn_label vp_btn_red">Cancel</a>
            </section>
        </div>
    </div>
</div>
