<div>
    <article>
        <header><h3>Heading types</h3></header>
        <h1>h1. Videopath Heading 1</h1>
        <h2>h2. Videopath Heading 2</h2>
        <h3>h3. Videopath Heading 3</h3>
        <h4>h4. Videopath Heading 4</h4>
        <h5>h5. Videopath Heading 5</h5>
        <h6>h6. Videopath Heading 6</h6>
    </article>

    <article>
        <header><h3>Main Heading</h3></header>
        <header class="sg_example_page_header">
            <h1 class="page_main_header">Example Page Heading</h1>
        </header>
    </article>

    <article>
        <header><h3>General Text</h3></header>
        <p>My work explores the relationship between the universality of myth and life as performance.
            With influences as diverse as Rousseau and Roy Lichtenstein, new synergies are distilled from both mundane and transcendant dialogues.
        </p>
        <p>Ever since I was a child I have been fascinated by the <strong>ephemeral nature of relationships</strong>. What starts out as triumph soon becomes manipulated into a <strong>tragedy of defeat</strong>, leaving only a <em>sense of nihilism and the prospect of a new beginning</em>.</p>
        <p>As temporal forms become reconfigured through studious and critical practice, the viewer is left with an <em>insight into the possibilities of our era</em>.</p>
        <p class="sg_big">As momentary replicas become clarified through diligent and academic practice, the viewer is left with an insight into the inaccuracies of our future.</p>
        <p class="sg_small">What starts out as yearning soon becomes corroded into a tragedy of futility, leaving only a sense of failing and the chance of a new order.</p>
    </article>

    <article>
        <header>
            <h3>Lists</h3>
        </header>
        <ul>
            <li>List Item fofofofo</li>
            <li>List Item fofofofo
                <ul>
                    <li>List Item fofofofo</li>
                    <li>List Item fofofofo</li>
                    <li>List Item fofofofo
                        <ol>
                            <li>List Item fofofofo</li>
                            <li>List Item fofofofo</li>
                            <li>List Item fofofofo</li>
                        </ol>
                    </li>
                </ul>
            </li>
        </ul>
        <ol>
            <li>List Item fofofofo</li>
            <li>List Item fofofofo
                <ol>
                    <li>List Item fofofofo</li>
                    <li>List Item fofofofo</li>
                    <li>List Item fofofofo
                        <ul>
                            <li>List Item fofofofo</li>
                            <li>List Item fofofofo</li>
                        </ul>
                    </li>
                </ol>
            </li>
        </ol>
    </article>

    <article class="vp_player_content_typography">
        <header>
            <h3>Player Typography</h3>
        </header>
        <p>My work explores the relationship between the universality of myth and life as performance.
            With influences as diverse as Rousseau and Roy Lichtenstein, new synergies are distilled from both mundane and transcendant dialogues.
        </p>
        <p>Ever since I was a child I have been fascinated by the <strong>ephemeral nature of relationships</strong>. What starts out as triumph soon becomes manipulated into a <strong>tragedy of defeat</strong>, leaving only a <em>sense of nihilism and the prospect of a new beginning</em>.</p>
        <p>As temporal forms become reconfigured through studious and critical practice, the viewer is left with an <em>insight into the possibilities of our era</em>.</p>
        <ol>
            <li>List Item fofofofo</li>
            <li>List Item fofofofo</li>
            <li>List Item fofofofo
                <ul>
                    <li>List Item fofofofo</li>
                    <li>List Item fofofofo</li>
                </ul>
            </li>
        </ol>
    </article>
</div>
