@import '../foundation';

.vpp_password {
	@include absoluteFullsize();
	background-color:black;
	color:#eee;
	letter-spacing:1px;

	.vpp_inner {
		@include absoluteCenter(300px, 120px);
		input {
			text-align: center;
			margin:10px 0px;
			width:200px;
		}
		.vpp_button {
			text-decoration: underline;
			cursor:pointer;
		}
	}

	.vpp_logo {
		position: absolute;
		bottom:0px;
		left:50%;
		margin-left:-50px;
	}
}