<article>

    <section class="vp_center_area vp_hidden">
        <a class="vp_replay_button">Replay</a>
        <header class="vp_title_block">
            <h1>
                <span class="vp_title_content"></span>
            </h1>
        </header>
        <section class="vp_subtitle_block vp_removed">
            <p class="vp_subtitle_content"></p>
        </section>
        <section class="vp_cta_block"></section>
        <img alt="" src="" class="vp_custom_logo vp_removed"/>
    </section>

    <footer class="vp_footer_block">
        <div class="vp_share_block vp_minimal_buttons"></div>
        <p class="vp_label">
            Proudly built with
            <a target = "_blank"  href = "http://www.videopath.com">
                <span class="vp_logo">videopath</span>
            </a>
        </p>
    </footer>

</article>
