.vp_builder .tool_overlay.video_info {
	top:10px;

    h1 {
        margin: 0;
    }

    textarea {
        resize: none;
    }

    .vp_checkbox {
    	margin-top:0px;
    	margin-bottom:10px;
    }
}

