.vp_card {
	.vp_button {
		margin:20px auto;
		margin-bottom:10px;
		display: block;
		width:130px;
	}
}


.vp_card_form {
	.vp_form .vp_form_row:nth-child(2),
	.vp_form .vp_form_row:nth-child(3),
	.vp_form .vp_form_row:nth-child(4) {
		width:100px;
		float:left;
		margin-right:10px;
		input {
			text-align: center;
		}
	}

	.vp_form .vp_form_row:nth-child(4) {
		float:right;
	}

	.vp_form:after {
		visibility: hidden;
		 display: block;
		 font-size: 0;
		 content: " ";
		 clear: both;
		 height: 0;
	}
	.vp_stripe {
		margin:10px;
		font-size:12px;
		text-align: center;
	}

}