<div>

	<div class = "vp_marker_overlay_main">
		<div class = "vp_marker_overlay_header vp_form">
			<div class = "vp_title_edit_wrapper">
                <div class = "vp_input_group">
                    <input class = "vp_title_edit" placeholder = "Add a title" maxlength = "45" />
                </div>
			</div>
			<div class = "vp_time_edit_wrapper">
				<input class = "vp_time_edit" placeholder = "00:00" />
			</div>
		</div>
		<div class = "vp_marker_overlay_content">
		</div>
	</div>
	<div class = "vp_toolbar_wrapper">
	</div>
	<div class = "vp_preview_wrapper">
	</div>

</div>
