<div>
    <div class="vp_form">
        <div class="vp_form_group">
            <label>Button label</label>
            <div class="vp_input_group">
                <input class="vp_button_text" type="text" placeholder="add a button label" maxlength="30">
            </div>
        </div>
        <div class="vp_form_group vp_input_wrapper_url">
            <label>Button URL</label>
            <input class="vp_button_target" type="text" placeholder="add a button URL">
            <p class="vp_error_msg">This does not look like a valid URL.</p>
        </div>
        <div class="vp_form_group vp_input_wrapper_color">
            <input class="vp_button_color" type="hidden">
            <input class="vp_button_color_text vp_input_small" type=text maxlength="7" placeholder="Color">
        </div>
    </div>
    <div class="vp_cta_preview"></div>
</div>
