<article>
    <section class="vp_color_block">
        <a href="" class="vp_color_button"></a>
        <input type="text" class="vp_color_chooser">
    </section>

    <section class="vp_center_area vp_hidden">
        <a class="vp_replay_button">Replay</a>
        <header class="vp_title_block vp_editable">
            <h1>
                <span class="vp_title_content" contenteditable="true"></span>
            </h1>
        </header>
        <section class="vp_subtitle_block vp_editable">
            <p class="vp_subtitle_content" contenteditable="true"></p>
            <span class="vp_editable_empty">Add a subtitle</span>
        </section>
        <section class="vp_cta_block vp_editable vp_add_new">
            <span class="vp_editable_empty">Add call to action</span>
            <div class="vp_cta_button"></div>
        </section>
    </section>

    <footer class="vp_footer_block">
        <img alt="" src="" class="vp_custom_logo vp_removed"/>
        <div class="vp_share_block vp_minimal_buttons"></div>
        <p class="vp_label">
            Proudly built with
            <a target="_blank" href="http://www.videopath.com">
                <span class="vp_logo">videopath</span>
            </a>
        </p>
    </footer>

</article>
