<div>
	<div class = "vp_info_arrow vp_drag">
	    <div class = 'arrow'></div>
	    <div class = 'txt'>Drag to the timeline!</div>
	</div>
	<div class = "vp_markers_snap_target">
	</div>
	<div class = "vp_add_marker_snap_target">
	</div>
    <div class="vp_help_indicator">
    </div>
    <div class = "vp_add_marker_drag_container">
	</div>
    <div class = "vp_add_marker_wrapper">
	</div>
	<div class = "vp_branded_marker_wrapper">
	</div>
	<div class = "vp_markers_collection_wrapper">
	</div>

</div>
